{% extends 'base.html' %}

{% block body %}

<div class="bgContainer">
	<div class="bgSpacer"></div>
	<img class="bg" src="../static/cherry-blossom.png">
</div>
<div class="homeText">
	<em><h1 class="nameTag">Luke Weiler</h1></em>
	<p>
		<a href="{{ url_for('about') }}">About</a> //
		<a href="https://github.com/lukew3">Github</a> //
                <a href="../static/lukeweiler-resume.pdf" download="lukeweiler-resume">Resume</a> // 
		<a href="{{ url_for('contact') }}">Contact</a> //
		<a href="{{ url_for('project_list') }}">Projects</a>
        </p>
</div>

{% endblock %}
